.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 15px;
  border: 1px solid black;
  background-color: wheat;



}
.meals li {  
  /* margin-top: 0; */
  font-weight: bold;
  border-bottom: 1px outset ;
  margin: 20px;
}
.meals p:first-child{
  font-style: italic;
  font-weight: lighter;
}
.meals p:last-child{
  color: brown;
}


@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}